<div class="row">
  <div class="col-xl-6 col-12">
    <canvas baseChart height="150" *ngIf="barChartLabels.length"
            [datasets]="coinsChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="doughnutLegend"
            [chartType]="barDoughnutType" ></canvas>
  </div>	
  <div class="col-xl-6 col-12">
    <canvas baseChart height="150" *ngIf="barChartLabels.length"
            [datasets]="coinsChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType" ></canvas>
  </div>

</div>