<div class="container">
	<div class="row">
		<div class="col">
			<section>
				<h1>Top 10 coins chart</h1>
				<p>According to <a href="https://coinmarketcap.com" target="_blanc">coinmarketcap.com</a></p>
				
				<app-top-coins-chart [topCoins]="topCoins"></app-top-coins-chart>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col col-auto">
			<section >
				<h1>Top 50 coins</h1>
				<p>According to <a href="https://coinmarketcap.com" target="_blanc">coinmarketcap.com</a></p>
				<table class="table table-inverse table-responsive table-sm table-striped table-bordered table-hover" *ngIf="topCoins.length">
					<thead>
						<tr>
							<th (click)="sortBy('rank')" [ngClass]="{'bg-success': currentSortBy === 'rank', 'sortable': true}">
								Rank <i [ngClass]="{'fa-sort-desc': !getSortCls('rank'), 'fa-sort-asc': getSortCls('rank')}" class="fa" aria-hidden="true"></i>
							</th>
							<th (click)="sortBy('name')" [ngClass]="{'bg-success': currentSortBy === 'name', 'sortable': true}">
								Name <i [ngClass]="{'fa-sort-desc': !getSortCls('name'), 'fa-sort-asc': getSortCls('name')}" class="fa" aria-hidden="true"></i>
							</th>
							<th (click)="sortBy('price_usd')" [ngClass]="{'bg-success': currentSortBy === 'price_usd', 'sortable': true}">
								USD <i [ngClass]="{'fa-sort-desc': !getSortCls('price_usd'), 'fa-sort-asc': getSortCls('price_usd')}" class="fa" aria-hidden="true"></i>
							</th>
							<th>
								BTC
							</th>							
							<th>
								1h change/%
							</th>
							<th>
								24h change/%
							</th>							
							<th>
								7d change/%
							</th>							
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let coin of topCoins" [ngClass]="{'bg-warning': isCoinProfitable(coin)}">
							<td>
								{{coin.rank}}
							</td>
							<td>
								{{coin.name}} | <strong>{{coin.symbol}}</strong>
							</td>
							<td>
								{{coin.price_usd}}
							</td>							
							<td>
								{{coin.price_btc}}
							</td>				
							<td>
								<span [ngClass]="getBadgeCls(coin.percent_change_1h)">
									{{coin.percent_change_1h}}
								</span>
							</td>										
							<td>
								<span [ngClass]="getBadgeCls(coin.percent_change_24h)">
									{{coin.percent_change_24h}}
								</span>
							</td>										
							<td>
								<span [ngClass]="getBadgeCls(coin.percent_change_7d)">
									{{coin.percent_change_7d}}
								</span>								
							</td>										
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</div>
</div>
