<article class="coin-names">
	<h2>Choose coins</h2>

	
	<div class="coin-names__body">
		<form #listOfCoins="ngForm" class="">
			<div *ngIf="originListOfcoins.length" class="form-group search-coin-wrapper">
				<label for="coin-prefix-field">Coin prefix:</label>
				<input #searchQuery [(ngModel)]="listOfcoinsModel['search-coin']" (ngModelChange)="searchCoin($event)" name="search-coin" class="form-control default-input" id="coin-prefix-field" type="text" placeholder="search by prefix">
				<button *ngIf="listOfcoinsModel['search-coin']" (click)="clearQuery()" class="clear-button clear-query-btn" type="button">
					<i class="fa fa-times-circle-o" aria-hidden="true"></i>
				</button>				
			</div>

			<div class="list-of-coins-wrapper">
				<strong class="list-of-coins-loader" *ngIf="!originListOfcoins.length">Loading...</strong>

				<ul *ngIf="originListOfcoins.length" class="list-of-coins">
					<li *ngFor="let coin of listOfcoins; let i=index" class="list-of-coins__item">
						<div class="coin-name">
							<input type="checkbox"
										class="coin-name__ckeckbox" 
										(ngModelChange)="onModelChange($event, coin)"
										[id]="coin.id"
										[(ngModel)]="listOfcoinsModel[coin.id]"
										[name]="coin.id"
							>
							<label [for]="coin.id" class="coin-name__label">{{coin.symbol}}</label>
						</div>
					</li>
				</ul>
			</div>

		</form>
	</div>
</article>

<article *ngIf="listOfelectedfcoins.length" class="coins-main-info-wrapper">
	<div class="coins-main-info">
		<table class="table ">
			<tr>
				<th>#</th>
				<th>Coin</th>
				<th>USD</th>
				<th>1 h</th>
				<th>24 h</th>
				<th>7 d</th>
				<th></th>
			</tr>
			<tr *ngFor="let selectedCoin of listOfelectedfcoins">
				<td>{{ selectedCoin.rank }}</td>
				<td>{{ selectedCoin.symbol }}</td>
				<td>{{ selectedCoin.price_usd }}</td>
				<td>
					<span [ngClass]="getBadgeCls(selectedCoin.percent_change_1h)">
						{{ selectedCoin.percent_change_1h }}
					</span>					
				</td>
				<td>
					<span [ngClass]="getBadgeCls(selectedCoin.percent_change_24h)">
						{{ selectedCoin.percent_change_24h }}
					</span>										
				</td>
				<td>
					<span [ngClass]="getBadgeCls(selectedCoin.percent_change_7d)">
						{{ selectedCoin.percent_change_7d }}
					</span>															
				</td>
				<td>
					<button (click)="deleteSelectedCoin(selectedCoin)" class="clear-button" type="button">
						<i class="fa fa-trash-o" aria-hidden="true"></i>
					</button>
				</td>
			</tr>
		</table>
	</div>
</article>

