<article class="coin-names">
	<h2>Top 200 coins</h2>
	
	<div class="coin-names__body">
		<form #listOfCoins="ngForm" class="">
			<div *ngIf="originListOfcoins.length" class="form-group search-coin-wrapper">
				<input #searchQuery [(ngModel)]="listOfcoinsModel['search-coin']" (ngModelChange)="searchCoin($event)" name="search-coin" class="form-control default-input" id="coin-prefix-field" type="text" placeholder="search">
				<button *ngIf="listOfcoinsModel['search-coin']" (click)="clearQuery()" class="clear-button clear-query-btn" type="button">
					<i class="fa fa-times-circle-o" aria-hidden="true"></i>
				</button>				
			</div>

			<div class="list-of-coins-wrapper">
				<strong class="list-of-coins-loader" *ngIf="!originListOfcoins.length">Loading...</strong>

				<ul *ngIf="originListOfcoins.length" class="list-of-coins">
					<li *ngFor="let coin of listOfcoins; let i=index" class="list-of-coins__item">
						<div class="coin-name">
							<input type="checkbox"
										class="coin-name__ckeckbox" 
										(ngModelChange)="onModelChange($event, coin)"
										[id]="coin.id"
										[(ngModel)]="listOfcoinsModel[coin.rank]"
										[name]="coin.rank"
							>
							<label [for]="coin.id" class="coin-name__label">{{coin.name}}</label>
						</div>
					</li>
				</ul>
			</div>

		</form>
	</div>
</article>

<article class="coins-tags-wrapper" *ngIf="originListOfcoins.length">
	<span class="coin-tag">
		<input [(ngModel)]="filterModel['coins-filter']" (ngModelChange)="onFilterChange($event)" type="radio" class="coin-tag__input" value="top-10-filter" id="top-10-filter" name="coins-filter">	
		<label class="coin-tag__label" for="top-10-filter">#top10</label>
	</span>

	<span class="coin-tag">
		<input [(ngModel)]="filterModel['coins-filter']" (ngModelChange)="onFilterChange($event)" type="radio" class="coin-tag__input" value="top-50-filter" id="top-50-filter" name="coins-filter">	
		<label class="coin-tag__label" for="top-50-filter">#top50</label>
	</span>
</article>





